<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout
        pattern="%p [%t] [%X{selector}] [%X{scenarioName}] %d{HH:mm:ss}  %c{2} - %M:%L     %m%n"/>
    </Console>
    <File fileName="target/integrum.log" name="File">
      <PatternLayout>
        <pattern>%p [%X{selector}] [%10X{scenarioName}] %d{HH:mm:ss,SSS} | %c{2} - %M:%L | %m%n</pattern>
      </PatternLayout>
    </File>
  </Appenders>
  <Loggers>
    <Root level="INFO">
      <AppenderRef ref="Console"/>
      <AppenderRef ref="File"/>
    </Root>
  </Loggers>
</Configuration>